# .gitigone FILE
## Global File
.metadata
.recommenders

### Projet ArabeToRomain
ArabeToRomain/.settings
ArabeToRomain/.classpath
ArabeToRomain/.project

## Class_exo File
### Projet Class_exo1
Class_exo/Classe_exo1/.settings
Class_exo/Classe_exo1/.classpath
Class_exo/Classe_exo1/.project